@model UserAccount
@{
    var userProfile = Model.UserProfile;
}

<div class="d-flex flex-column align-items-center">
    <div class="card border-dark mb-3 profile" style="width: 25rem">
        @{
            if (!string.IsNullOrEmpty(userProfile.UserPhotoLink))
            {
                <img src="@userProfile.UserPhotoLink" class="card-img-top profile" alt="фотка пользователя"/>
            }
            else
            {
                <img src="/img/user_photo/default.jpg" class="card-img-top profile" alt="фотка пользователя"/>
            }
        }
        <div class="card-body profile">
            <div>
                <h5 class="card-text">Никнейм</h5>
                <p>@userProfile.Nickname</p>
            </div>
            @if (!string.IsNullOrEmpty(userProfile.City))
            {
                <div>
                    <h6 class="card-text">Город</h6>
                    <p>@userProfile.City</p>
                </div>
            }
            @if (!string.IsNullOrEmpty(userProfile.AboutMe))
            {
                <div>
                    <h6 class="card-text">Обо мне</h6>
                    <p>@userProfile.AboutMe</p>
                </div>
            }
            @if (userProfile.Contact is not null)
            {
                var contacts = userProfile.Contact;
                <div>
                    <h6 class="card-text">Контакты</h6>
                    <div class="d-inline-flex flex-column">
                        @if (!string.IsNullOrEmpty(contacts.VkLink))
                        {
                            <a href="@contacts.VkLink" class="
                            profile-contact
                            d-inline-flex
                            flex-row
                            align-items-center
                          "
                               target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px">
                                    <path
                                        d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M21.361,18.967l-1.868,0.026 c0,0-0.403,0.079-0.93-0.285c-0.699-0.48-1.358-1.729-1.872-1.567c-0.521,0.166-0.505,1.29-0.505,1.29s0.004,0.198-0.115,0.327 c-0.129,0.139-0.382,0.125-0.382,0.125h-0.837c0,0-1.846,0.153-3.473-1.543c-1.772-1.849-3.338-5.498-3.338-5.498 s-0.092-0.23,0.006-0.348c0.111-0.13,0.41-0.134,0.41-0.134l2-0.01c0,0,0.188,0.033,0.324,0.133 c0.111,0.082,0.174,0.236,0.174,0.236s0.323,0.819,0.752,1.561c0.836,1.446,1.224,1.763,1.508,1.608 c0.414-0.226,0.29-2.044,0.29-2.044s0.008-0.66-0.208-0.954c-0.168-0.229-0.484-0.297-0.622-0.314 c-0.113-0.015,0.071-0.277,0.311-0.395c0.36-0.176,0.996-0.186,1.747-0.179c0.585,0.006,0.754,0.042,0.982,0.098 c0.69,0.167,0.456,0.811,0.456,2.356c0,0.495-0.089,1.191,0.267,1.42c0.154,0.099,0.529,0.015,1.464-1.579 c0.445-0.756,0.778-1.644,0.778-1.644s0.073-0.158,0.186-0.226c0.116-0.07,0.272-0.048,0.272-0.048l2.105-0.013 c0,0,0.632-0.076,0.735,0.211c0.108,0.3-0.236,1.001-1.096,2.148c-1.412,1.884-1.569,1.709-0.396,2.799 c1.12,1.041,1.351,1.547,1.39,1.611C22.339,18.906,21.361,18.967,21.361,18.967z"/>
                                </svg
                                ><span class="contact-name-profile">Вконтаке</span>
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(contacts.TelegramLink))
                        {
                            <a href="@contacts.TelegramLink" class="profile-contact" target="_blank">
                                <div class="d-flex flex-row align-items-center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 50 50"
                                        width="30px"
                                        height="30px">
                                        <path
                                            d="M46.137,6.552c-0.75-0.636-1.928-0.727-3.146-0.238l-0.002,0C41.708,6.828,6.728,21.832,5.304,22.445	c-0.259,0.09-2.521,0.934-2.288,2.814c0.208,1.695,2.026,2.397,2.248,2.478l8.893,3.045c0.59,1.964,2.765,9.21,3.246,10.758	c0.3,0.965,0.789,2.233,1.646,2.494c0.752,0.29,1.5,0.025,1.984-0.355l5.437-5.043l8.777,6.845l0.209,0.125	c0.596,0.264,1.167,0.396,1.712,0.396c0.421,0,0.825-0.079,1.211-0.237c1.315-0.54,1.841-1.793,1.896-1.935l6.556-34.077	C47.231,7.933,46.675,7.007,46.137,6.552z M22,32l-3,8l-3-10l23-17L22,32z"/>
                                    </svg
                                    ><span class="contact-name-profile">Телеграм</span>
                                </div>
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(contacts.InstagramLink))
                        {
                            <a href="@contacts.InstagramLink" class="profile-contact" target="_blank">
                                <div class="d-flex flex-row align-items-center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 50 50"
                                        width="30px"
                                        height="30px">
                                        <path
                                            d="M 12 3 C 7.04 3 3 7.04 3 12 L 3 38 C 3 42.96 7.04 47 12 47 L 38 47 C 42.96 47 47 42.96 47 38 L 47 12 C 47 7.04 42.96 3 38 3 L 12 3 z M 38 8 L 41 8 C 41.55 8 42 8.45 42 9 L 42 12 C 42 12.55 41.55 13 41 13 L 38 13 C 37.45 13 37 12.55 37 12 L 37 9 C 37 8.45 37.45 8 38 8 z M 25 10 C 30.33 10 35.019688 12.8 37.679688 17 L 42 17 L 42 37 C 42 39.76 39.76 42 37 42 L 13 42 C 10.24 42 8 39.76 8 37 L 8 17 L 12.320312 17 C 14.980313 12.8 19.67 10 25 10 z M 25 12 C 17.83 12 12 17.83 12 25 C 12 32.17 17.83 38 25 38 C 32.17 38 38 32.17 38 25 C 38 17.83 32.17 12 25 12 z M 25 16 C 29.96 16 34 20.04 34 25 C 34 29.96 29.96 34 25 34 C 20.04 34 16 29.96 16 25 C 16 20.04 20.04 16 25 16 z"/>
                                    </svg
                                    ><span class="contact-name-profile">Инстаграм</span>
                                </div>
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(contacts.TwitterLink))
                        {
                            <a href="@contacts.TwitterLink" class="profile-contact" target="_blank">
                                <div class="d-flex flex-row align-items-center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 50 50"
                                        width="30px"
                                        height="30px">
                                        <path
                                            d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z"/>
                                    </svg
                                    ><span class="contact-name-profile">Твиттер</span>
                                </div>
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(contacts.YoutubeLink))
                        {
                            <a href="@contacts.YoutubeLink" class="profile-contact" target="_blank">
                                <div class="d-flex flex-row align-items-center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 50 50"
                                        width="30px"
                                        height="30px">
                                        <path
                                            d="M 44.898438 14.5 C 44.5 12.300781 42.601563 10.699219 40.398438 10.199219 C 37.101563 9.5 31 9 24.398438 9 C 17.800781 9 11.601563 9.5 8.300781 10.199219 C 6.101563 10.699219 4.199219 12.199219 3.800781 14.5 C 3.398438 17 3 20.5 3 25 C 3 29.5 3.398438 33 3.898438 35.5 C 4.300781 37.699219 6.199219 39.300781 8.398438 39.800781 C 11.898438 40.5 17.898438 41 24.5 41 C 31.101563 41 37.101563 40.5 40.601563 39.800781 C 42.800781 39.300781 44.699219 37.800781 45.101563 35.5 C 45.5 33 46 29.398438 46.101563 25 C 45.898438 20.5 45.398438 17 44.898438 14.5 Z M 19 32 L 19 18 L 31.199219 25 Z"/>
                                    </svg
                                    ><span class="contact-name-profile">Ютуб</span>
                                </div>
                            </a>
                        }
                        @if (!string.IsNullOrEmpty(contacts.FacebookLink))
                        {
                            <a href="@contacts.FacebookLink" class="profile-contact" target="_blank">
                                <div class="d-flex flex-row align-items-center">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 50 50"
                                        width="30px"
                                        height="30px">
                                        <path
                                            d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"/>
                                    </svg
                                    ><span class="contact-name-profile">Фейсбук</span>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    @if(!Model.IsGuest)
    {
        <a href="@EditingProfile.PathToPage" type="button" class="btn btn-outline-info">
            Редактировать профиль
        </a>
    }
    else
    {
        var displayForSub = !Model.IsSubscriber ? "" : "none";
        var displayForUnsub = Model.IsSubscriber ? "" : "none";
        <button  type="button" class="btn btn-outline-success" id="subscribe_btn" style="display: @displayForSub">
            Подписаться
        </button>
        <button  type="button" class="btn btn-outline-danger" id="unsubscribe_btn" style="display: @displayForUnsub">
            Отписаться
        </button>
    }
</div>