@model IEnumerable<BeatTim.Services.DTO.OutputDTO.PublicBeatDto>

@foreach (var beat in Model)
{
    <div class="beat flex-grow-1 mt-4">
        <div
            class="
                                                                             d-flex
                                                                             flex-row
                                                                             beat-line-container
                                                                             justify-content-between">
            <div class="d-flex align-items-center h-100">
                @if (beat.CoverLink is null)
                {
                    <img
                        onclick="playNewBeat($(this))"
                        class="beat_cover play_button h-100 rounded cursor-pointer"
                        src="~/img/user_beats_covers/default.jpg"
                        alt="Обложка бита"/>
                }
                else
                {
                    <img
                        onclick="playNewBeat($(this))"
                        class="beat_cover play_button h-100 rounded cursor-pointer"
                        src="@beat.CoverLink"
                        alt="Обложка бита"/>
                }
                <audio class="beat_audio" src="@beat.BeatLink"></audio>
                <div class="d-flex flex-column justify-content-around ms-5">
                    <span class="title_beat fs-5">@beat.Title</span>
                    <a class="text-decoration-none text-info cursor-pointer hover-grey" asp-page="@UserAccount.PathToPage" asp-route-id="@beat.UserId">@beat.UserName</a>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <button onclick="sendVerificationResult($(this), @beat.BeatId, true)" class="btn btn-outline-success me-4 h-48px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                    </svg>
                </button>
                <button onclick="sendVerificationResult($(this), @beat.BeatId, false)" class="btn btn-outline-danger me-4 h-48px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
}